* {
	box-sizing:border-box;
}



body {
	margin:0;	
}

.header {
	padding:20px;
	text-align:center;
	background-color:#738cb2;
}
.navbar {
	display:flex;
	background-color:#344088;
}
.navbar a {
	padding:10px 15px;
	text-decoration:none;
	text-align:center;
	color:#c7f2e9;
}
.navbar a:hover {
	cursor:pointer;
	background-color:#ccccff;
	color:black;
}

.row {
	display:flex;
	flex-wrap:wrap;
}
.side {
	flex:30%;
	background-color: #c7e3ff;
	padding:20px;
}
.main {
	flex:70%;
	background-color:  #dbedff;
	padding:30px;
	
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #7399d9;
  color:#1f2985;
}
@media screen and (max-width: 700px){
	.row, .navbar {
		flex-direction:column;
	}
}

/******/
input[type=submit] 
{
    background-color: #7887de;
    border-radius: 5px;
    padding:15px;
    margin: 20px;
    border: none;

}

input[type=submit]:hover 
{
    border: none;
    cursor:pointer;
    background-color:#ccccff;
    border-radius: 5px;
       
}

input[type=text], select 
{
    background-color: #bcc2e6;
    border-radius: 5px;
    border: none;
    padding:5px;  
    margin-right: 15px;
}

select:hover
{
    border:#bfc9ff; 
    cursor:pointer;
}


/*****/


.search 
{
	text-align:center;
	padding:10px;
    margin: 10px;
    width: auto;
    height: auto;
    float: left;
	
}
.price
{
    text-align: left;
}
.task {
	border:3px solid #738cb2;
	text-align:center;
	padding:10px;
	background-color:#dbedff;
}
.task1 {
	
	text-align:left;
	padding: 1% 10%;
    margin: auto;

}

.table {
    margin: auto;
    padding: 1% 10%;
}

table, th, td 
{
    background-color: #bcc7e6;
    border: 1px solid #0a0a6e;
}
th, td 
{
    padding: 8px;
    text-align: center;
}